[submodule "app/scripts/GroupManager"]
	path = app/scripts/GroupManager
	url = git@github.com:W1ndysBot/GroupManager.git
	branch = main
[submodule "Crypto"]
	path = app/scripts/Crypto
	url = git@github.com:W1ndysBot/Crypto.git
	branch = main
[submodule "app/scripts/Crypto"]
	path = app/scripts/Crypto
	url = git@github.com:W1ndysBot/Crypto.git
	branch = main
[submodule "app/scripts/QASystem"]
	path = app/scripts/QASystem
	url = git@github.com:W1ndysBot/QASystem
	branch = main
[submodule "app/scripts/BlacklistSystem"]
	path = app/scripts/BlacklistSystem
	url = git@github.com:W1ndysBot/BlacklistSystem
	branch = main
[submodule "app/scripts/Example"]
	path = app/scripts/Example
	url = git@github.com:W1ndysBot/Example
	branch = main
[submodule "app/scripts/InviteChain"]
	path = app/scripts/InviteChain
	url = git@github.com:W1ndysBot/InviteChain
	branch = main
[submodule "app/scripts/SoftBan"]
	path = app/scripts/SoftBan
	url = git@github.com:W1ndysBot/SoftBan.git
	branch = main
[submodule "app/scripts/Custom"]
	path = app/scripts/Custom
	url = git@github.com:W1ndysBot/Custom
	branch = main
[submodule "app/scripts/LockGroupCard"]
	path = app/scripts/LockGroupCard
	url = git@github.com:W1ndysBot/LockGroupCard.git
	branch = main
[submodule "app/scripts/SendAll"]
	path = app/scripts/SendAll
	url = git@github.com:W1ndysBot/SendAll.git
	branch = main
[submodule "app/scripts/KeywordsReply"]
	path = app/scripts/KeywordsReply
	url = git@github.com:W1ndysBot/KeywordsReply.git
	branch = main
[submodule "app/scripts/ClassTable"]
	path = app/scripts/ClassTable
	url = git@github.com:W1ndysBot/ClassTable.git
	branch = main
[submodule "app/scripts/TimeAwareGreetings"]
	path = app/scripts/TimeAwareGreetings
	url = git@github.com:W1ndysBot/TimeAwareGreetings.git
	branch = main
[submodule "app/scripts/BanWords2"]
	path = app/scripts/BanWords2
	url = git@github.com:W1ndysBot/BanWords2.git
[submodule "app/scripts/CET4"]
	path = app/scripts/CET4
	url = git@github.com:W1ndysBot/CET4.git
	branch = main
[submodule "app/scripts/QFNUBustExamClassroomFind"]
	path = app/scripts/QFNUBustExamClassroomFind
	url = git@github.com:W1ndysBot/QFNUBustExamClassroomFind
	branch = main
[submodule "app/scripts/BilibiliAnalysis"]
	path = app/scripts/BilibiliAnalysis
	url = git@github.com:W1ndysBot/BilibiliAnalysis
	branch = main
[submodule "app/scripts/BilibiliPush"]
	path = app/scripts/BilibiliPush
	url = git@github.com:W1ndysBot/BilibiliPush
	branch = main
[submodule "app/scripts/QRCodeInspector"]
	path = app/scripts/QRCodeInspector
	url = git@github.com:W1ndysBot/QRCodeInspector.git
	branch = main
[submodule "app/scripts/WelcomeFarewell"]
	path = app/scripts/WelcomeFarewell
	url = git@github.com:W1ndysBot/WelcomeFarewell.git
	branch = main
[submodule "app/scripts/TitleSelfService"]
	path = app/scripts/TitleSelfService
	url = git@github.com:W1ndysBot/TitleSelfService.git
	branch = main
[submodule "app/scripts/MuteWheel"]
	path = app/scripts/MuteWheel
	url = git@github.com:W1ndysBot/MuteWheel.git
	branch = main
[submodule "app/scripts/GithubCard"]
	path = app/scripts/GithubCard
	url = git@github.com:W1ndysBot/GithubCard.git
	branch = main
[submodule "app/scripts/QFNUGetFreeClassrooms"]
	path = app/scripts/QFNUGetFreeClassrooms
	url = git@github.com:W1ndysBot/QFNUGetFreeClassrooms.git
	branch = main
[submodule "app/scripts/LLM"]
	path = app/scripts/LLM
	url = git@github.com:W1ndysBot/LLM.git
	branch = main
[submodule "app/scripts/QFNUEatWhat"]
	path = app/scripts/QFNUEatWhat
	url = git@github.com:W1ndysBot/QFNUEatWhat.git
	branch = main
[submodule "app/scripts/GroupEntryVerification"]
	path = app/scripts/GroupEntryVerification
	url = git@github.com:W1ndysBot/GroupEntryVerification.git
	branch = main
[submodule "app/scripts/QFNUNoticeMonitor"]
	path = app/scripts/QFNUNoticeMonitor
	url = git@github.com:W1ndysBot/QFNUNoticeMonitor.git
	branch = main
[submodule "app/scripts/SayBan"]
	path = app/scripts/SayBan
	url = git@github.com:W1ndysBot/SayBan.git
	branch = main
[submodule "app/scripts/AnswerBook"]
	path = app/scripts/AnswerBook
	url = git@github.com:W1ndysBot/AnswerBook.git
	branch = main
[submodule "app/scripts/FunnySayings"]
	path = app/scripts/FunnySayings
	url = git@github.com:W1ndysBot/FunnySayings.git
	branch = main
[submodule "app/scripts/QFNUElectricityQuery"]
	path = app/scripts/QFNUElectricityQuery
	url = git@github.com:W1ndysBot/QFNUElectricityQuery.git
	branch = main
[submodule "app/scripts/LinuxdoReminder"]
	path = app/scripts/LinuxdoReminder
	url = git@github.com:W1ndysBot/LinuxdoReminder.git
	branch = main
[submodule "app/scripts/GunRouletteGame"]
	path = app/scripts/GunRouletteGame
	url = git@github.com:W1ndysBot/GunRouletteGame.git
	branch = main
