aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
certifi
charset-normalizer
colorama
coloredlogs
colorlog
contourpy
cycler
ddddocr
distro
flatbuffers
fonttools
frozenlist
h11
httpcore
httpx
humanfriendly
idna
jieba
jiter
kiwisolver
Levenshtein
matplotlib
mpmath
multidict
numpy
onnxruntime
openai
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pillow
propcache
protobuf
pydantic
pydantic_core
pyparsing
pyreadline3
python-dateutil
python-Levenshtein
pyzbar
RapidFuzz
requests
six
sniffio
soupsieve
sympy
tqdm
typing_extensions
urllib3
websockets
wordcloud
yarl
python-dotenv